.centralizacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--cor-de-fundo);
    font-family: 'Manrope', 'Courier New';
    flex-direction: column;
}

.cartao {
    background-color: var(--cor-cartao);
    color: var(--cor-do-texto);
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    height: 27rem;
    width: 45rem;
    display: flex;
    position: relative;
    padding: 0 4rem;
}

.titulo {
    text-transform: uppercase;
    color: var(--cor-dado);
    margin-top: 3.21875rem;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
}

.conselho {
    text-align: center;
    font-size: 2.1rem;
}

.cartao .divisor {
    width: 100%;
    padding-bottom: 5.5rem;
}

.dado {
    position: absolute;
    bottom: -2.6rem;
    background-color: var(--cor-dado);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border: 0px;

}

.dado :hover {
    cursor: pointer;
    scale: 1.1;

}

.dado img {
    transition: .3s ease-in-out;
}

.alinhamento {
    flex: 1 0 auto;
}